body {
  background: url(https://github.com/HeIIYeah/heIIyeah.github.io/blob/master/lesson_13/img/bg.png?raw=true);
}
.screen {
  vertical-align: center;
  margin-top: 100px;
  margin-right: 139px;
  margin-left: 125px;
  width: 318px;
  height: 368px;
  background: #fff;
  border: 1px solid #cfdede;
}
.header {
  display: inline-block;
  position: relative;
  top: -4px;
  left: 29px;
  min-height: 20px;
  min-width: 149px;
  box-sizing: border-box;
  background: #01b3b3;
  font-family: Arial, bold sans-serif;
  font-size: 12px;
  font-weight: 550;
  text-transform: uppercase;
  color: white;
  text-align: center;
  letter-spacing: 0.001mm;
  padding: 6px 8px;
}
.email {
  display: inline-block;
  margin-left: 30px;
  margin-top: 8px;
  font-family: Arial, bold sans-serif;
  font-size: 15px;
}
