@import url(../css/fonts.css);
html {
  font-size: 10px;
}
body {
  font-family: "ProximaNova_reg", sans-serif;
}
.button {
  padding: 1.5rem 3rem;
  border-radius: 8px;
  background: #feb403;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
}
.button:hover {
  cursor: pointer;
  background: #cd9101;
}
.main {
  width: 100%;
  min-height: 70rem;
  padding: 3rem 0 5rem;
  background: #fff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 9rem;
}
.main-content h1 {
  font-family: "ProximaNova_bold", sans-serif;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.45;
  font-stretch: extra-expanded;
  letter-spacing: 0.05rem;
}
.main-subtitle {
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 4.4rem;
  line-height: 1.2;
}
.main-title span {
  display: inline-block;
  padding: 1.6rem 4.6rem;
  background: #70c849;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}
.main-title span big {
  font-family: "ProximaNova_reg", sans-serif;
  font-size: 3rem;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-family: "ProximaNova_bold", sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
}
.main-form {
  padding: 5rem;
  background: #fff;
  font-family: "ProximaNova_reg", sans-serif;
  text-align: center;
}
.main-form h3 {
  padding-bottom: 2rem;
}
.main-form input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 5px;
  border-width: 1px;
  border-color: #dddddd;
  border-style: solid;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.main-form span {
  display: inline-block;
  font-family: ProximaNova_reg;
  color: #565656;
  font-size: 1.3rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  background: #fff;
  transform: translateY(50%);
}
.main-form .button {
  font-family: "ProximaNova_bold", sans-serif;
  width: 100%;
  font-size: 1.6rem;
  padding: 2rem 4rem;
  margin-bottom: 1.5rem;
}
.main-form small {
  font-family: "ProximaNova_reg", sans-serif;
  color: #565656;
  font-size: 1.2rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
input:focus,
a:focus,
button:focus,
.col-xl-4:focus {
  outline: none;
}
.phone {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #292929;
  font-family: "ProximaNova_bold", sans-serif;
}
.phone-link:hover {
  text-decoration: none;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup .close {
  display: block;
  position: fixed;
  left: 50%;
  transform: translateX(20rem);
  top: 100px;
  color: white;
  width: 2rem;
  height: 2rem;
  background: transparent;
  outline: none;
  z-index: 99;
}
.popup-form {
  position: relative;
  text-align: center;
  top: 100px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem 3rem;
  width: 40rem;
  height: 75%;
  background: #fff;
  font-family: "ProximaNova_reg", sans-serif;
}
.popup-form h3 {
  padding-bottom: 2rem;
}
.popup-form input,
.popup-form textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 5px;
  border-width: 1px;
  border-color: #dddddd;
  border-style: solid;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.popup-form span {
  display: inline-block;
  font-family: ProximaNova_reg;
  color: #565656;
  font-size: 1.3rem;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  background: #fff;
  transform: translateY(50%);
}
.popup-form .button {
  font-family: "ProximaNova_bold", sans-serif;
  width: 100%;
  font-size: 1.6rem;
}
@media (max-width: 1199px) {
  .phone {
    text-align: center;
  }
  .main {
    height: 105rem;
    background-position: top right 0;
  }
  .main-content {
    margin-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
  }
  .main-title {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .phone {
    text-align: center;
  }
  .main {
    height: 105rem;
    background-position: top right 0;
  }
  .main-content {
    margin-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
  }
  .main-title {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .phone {
    text-align: center;
  }
  .main {
    height: 120rem;
    background-position: top left 0;
  }
  .main-trigger {
    margin-top: 2rem;
  }
}
@media (max-width: 575px) {
  .header {
    text-align: center;
  }
  .phone {
    text-align: center;
  }
  .main {
    height: 120rem;
    background-position: top left 0;
  }
  .main-title h1 {
    font-size: 2rem;
  }
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0%;
  background: url(../img/arrow-left.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0%;
  background: url(../img/arrow-right.png) center no-repeat;
  background-size: 70%;
}
.feautures {
  margin: 5rem 0;
  text-align: center;
  background-size: cover;
}
.feautures div[class*="item"] {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.feautures div[class*="item"] img {
  max-width: 100%;
  height: auto;
  z-index: 0;
}
